body {
    background-color: #000000;
}

p {
    margin-left: 40px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    word-wrap: normal
}

h2 {
    margin-left: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    word-wrap: normal
}